@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#0f0028, #8033fc);
    min-height: 100vh;
    overflow-x: hidden;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

header .logo {
    color: rgb(200, 133, 255);
    font-weight: 800;
    text-decoration: none;
    font-size: 2.4em;
    background-color: #0f0028;
    border-radius: 20px;
    background-color: #0f0028;
    border-radius: 40px 40px 40px 0px;
    padding: 4px 10px 4px 90px;
}

header h1 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.05em;
    /* background: linear-gradient(to right, #e5ce00,  #ffffff, #fff306 ,#e5ce00,  #ffffff, #fff306 ,#e5ce00,  #ffffff, #fff306);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.logo h1:hover {
    color: white;
    font-weight: 840;
    text-decoration: none;
    font-size: 1.06em;
    background-color: #0f0028;
    border-radius: 20px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;
    color:rgb(242, 210, 249);
    font-size: 1.04em;
    font-weight: 570;
    background-color: none;
}

header li {
    list-style: none;
    margin-left: 20px;
}

.non-active a {
    text-decoration: none;
    color: rgb(255, 250, 241);
    padding: 6px 15px;
    border-radius: 20px;
    background-color: black;
}

.active a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 6px 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

header li a:hover {

    background-color: rgb(248, 227, 253);
    color: black;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text {
    position: absolute;
    color: white;
    font-size: 4em;
    transform: translateX(120px);
    /* transform: translateY(-10px); */
}

.button {
    display: flex;
}

.Button1 {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: white;
    color: #0f0028;
    font-size: 1.3em;
    display: inline-block;
    z-index: 10;
    transform: translateY(210px);
}

.Button {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: white;
    color: #0f0028;
    font-size: 1.3em;
    display: inline-block;
    z-index: 10;
    transform: translateY(210px);
    animation-name: button;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}

@keyframes button {
    0% {
        text-decoration: none;
        padding: 8px 30px;
        border-radius: 40px;
        background-color: rgb(255, 239, 255);
        color: #0f0028;
        font-size: 1.3em;
        display: inline-block;
        z-index: 10;
        transform: translateY(180px);
    }

    100% {
        text-decoration: none;
        padding: 8px 30px;
        border-radius: 40px;
        background-color: rgb(255, 239, 255);
        color: #0f0028;
        font-size: 1.3em;
        display: inline-block;
        z-index: 10;
        transform: translateY(185px);
    }
}

#about {
    position: flex;
    padding: 0px 40px 10px 40px;
    background-color: #1f0429;
}

#about h1 {
    display: inline;
    font-size: 3.5em;
    color: rgb(230, 230, 230);
    margin-bottom: 10px;
}

#about a{
    display: inline;
    color: #ffffff;
    font-size: .9em;
}

#about img {
    height:70px;
    margin-left: 760px;
    display: inline;
    font-size: 3.5em;
    color: rgb(230, 230, 230);
    /* margin-bottom: 10px; */
}
#about img:hover {
    height:72px;
    margin-left: 760px;
    display: inline;
    font-size: 3.5em;
    color: rgb(230, 230, 230);
    /* margin-bottom: 10px; */
}

#about p {
    font-size: 1.2em;
    color: rgb(225, 225, 225);
    margin-bottom: 25px;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background: linear-gradient(to top, #1f0627, transparent);
    z-index: 6;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#paragraph-to-read {
    overflow-y: scroll;
    height: 204px;
    scrollbar-width: thin;
    scrollbar-color: #5a5959 #ccc;
  }
  
  #paragraph-to-read::-webkit-scrollbar {
    width: 12px;
  }
  
  #paragraph-to-read::-webkit-scrollbar-thumb {
    background-color: #515050;
    border-radius: 10px;
  }
  
  #paragraph-to-read::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
  }  

p strong {
    color: rgb(231, 223, 242);
    font-size: 1.3em;
}

.Button2 {
    text-decoration: none;
    border-radius: 40px;
    background-color: white;
    color: #0f0028;
    font-size: 1.3em;
    display: inline-block;
    z-index: 10;
    animation-name: button2;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}
.Button2:hover {
    background-color: #ffbf00;
    color: #ffffff;
    transition: background-color 0.5s ease;
  }

@keyframes button2 {
    0% {
        text-decoration: none;
        padding: 8px 30px;
        border-radius: 40px;
        background-color: rgb(255, 239, 255);
        color: #0f0028;
        font-size: 1.3em;
        display: inline-block;
        z-index: 10;
        transform: translateY(4px);
    }

    100% {
        text-decoration: none;
        padding: 8px 30px;
        border-radius: 40px;
        background-color: rgb(255, 239, 255);
        color: #0f0028;
        font-size: 1.3em;
        display: inline-block;
        z-index: 10;
        transform: translateY(9px);
    }
}

.skills_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#skills {

    
    background-color:  #1f0429;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 90px;

}

#skills h2 {
    display: block;
    font-size: 3.2em;
    font-weight: 800;
    color: white;
}

.b2 {
    position: relative;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_type {
    padding-top: 20px;
    padding-left: 7px;
}

.a_type .text{
    position: relative;
    color: rgb(205, 123, 255);
    font-size: 2em;
    font-weight: 600;
}

.a_type .text.first-text{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    font-weight: 570;
}                                                                   

.text.sec-text1:before , .text.sec-text:before , .text.sec-text3:before , .text.sec-text4:before , .text.sec-text5:before{
    content: "";
    position: absolute;
    background-color: #1f0429;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    border-left: 4px solid white;
    animation: animate 4000ms steps(18) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left:0%
    }
}

#contact{
    padding-left: 5%;
    position: relative;
    min-height: 86vh;
    background: linear-gradient(to bottom , #1f0429, #6f1291);
    display : flex;
    justify-content: center;
    align-items: center;
}

#contact form{
    /* margin-left: 90px; */
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: #1b0323;
    border-radius: 15px;
    background-color: rgb(20, 1, 19);
    flex-wrap: wrap;
    padding: 60px;
    color: white;
}

#contact form h1{
    /* color: white; */
    background: linear-gradient(to right, #f44185,
                    #ff6600, #e230e2, #f4e12f);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    font-size: 2.6em;
    font-weight: 560;
    text-align: center;
}

#firstName{
    width: 500px;
    height: 40px;
    outline: none;
    border: none;
    font-family: 20px;
    background: none;
    border-bottom: 3px solid white;
    color: white;
}

#Message{
    margin-top: 40px;
    display: inline-block;
    background-color: white;
    width: 40%;
    color:black;
    border-radius: 25px;
    font-size: 1.3em;
    font-weight: 650;
}

.links{
    min-height: vh;
    background-color: #6f1291;
    display : flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 30px;
    padding-left: 4%;

}

.links a{
    background-color: #1b0323;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 550;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px 40px 10px 40px;
}

.links a:hover{
    background-color: #ffffff;
    text-decoration: none;
    color:#1b0323;
    font-size: 1.21em;
    font-weight: 590;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px 40px 10px 40px;
}

#project{
    display : flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 0px 0px 0px 0px;
    background: linear-gradient(to top , #30073f , #391673);
    width: 100%;
    height:100%;
    /* border-bottom: 3px solid #29095d; */
}

.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(226, 190, 250);
}

.project-heading1{
    /* margin-left: 43px; */
    margin-top: 20px;
    color: rgb(226, 190, 250);
    font-size: 1.13em;
    font-weight: 580;
}

.project-heading h3{
    font-size: 2.7rem;
    font-weight: 600;
    color: #ffffff;
}

.project-heading span{
    margin-left: 43px;
    color: rgb(226, 190, 250);
    font-size: 1.13em;
    font-weight: 580;
}


 ul {
    list-style: none;
    color:rgb(242, 210, 249);
    font-size: 1.04em;
    font-weight: 570;
    background-color: #0f0028;
    border-radius: 15px;

}

.project-filter{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    border: 1px solid rgb(137, 26, 173);
    border-radius: 10px;
}
.project-filter li {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;

}

.active{
    background-color: #4a1999;
    border-radius: 15px;

}

#project img{
    margin-top: px;
    margin-bottom: 5px;
    width: 90%;
}

#project img:hover{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    cursor: pointer;
}


.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .images .item-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 35px 44.5px 0px 36.5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .images .item-box.active1 {
    opacity: 1;
  }
  
  .item-box.hide {
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .home-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    z-index: 999;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .home-btn:hover {
    transform: scale(1.1);
    background-color: #ffffff;
  }  

#avocations{
    display : flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    background: linear-gradient(to top , #410d53, #310e69);
    width: 100%;
    height:100%;
}
#avocations h1{
    font-size: 2.7rem;
    font-weight: 600;
    /* text-transform: uppercase; */
    color: #ffffff;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
    margin-right: 130px;
    /* flex-wrap: wrap; */
}
#avocations img {

    border: 5px solid rgb(78, 119, 206);
    border-radius: 6%;
    margin: 40px 0px 40px 0px;
    width: 80%;
}

#avocations img:hover{
    border: 5px solid rgb(78, 119, 206);
    border-radius: 6%;
    margin: 50px 0px 30px 0px;
    width: 80%;
}